.todo {
    display: flex;
    justify-content: center;
}

.cuadroTorneo {
    overflow-x: scroll;
    font-size: 16px;
    color: white;
    border: 1px solid white;
}

.cuadroTorneo2 {
    overflow-x: scroll;
    font-size: 16px;
    color: white;
}

.cabecera {
    display: flex;
    flex-direction: row;
}

.rondaCabecera {
    min-width: 240px;
    text-align: center;
    padding: 15px;
    background-color: #58595e;
    border: 1px solid #0d0d0d;
}

.enfrentamientos {
    display: flex;
    flex-direction: row;
}

.partido {
    width: 200px;
    background-color: #58595e;
    border-radius: 5px;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ronda {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.separacion {
    border-top: 1px solid #0d0d0d;
}

.participante {
    padding: 5px;
}

.ronda1, .octavos, .semis {
    background-color: rgba(16, 16, 16);
}

.ronda2, .cuartos, .final {
    background-color: rgba(10, 10, 10);
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .enfrentamientos {
  padding-top: 50px;
}
