.todo {
    display: flex;
    justify-content: center;
}

.cuadroTorneo {
    overflow-x: scroll;
    font-size: 16px;
    color: white;
    border: 1px solid white;
}

.cuadroTorneo2 {
    overflow-x: scroll;
    font-size: 16px;
    color: white;
}

.cabecera {
    display: flex;
    flex-direction: row;
}

.rondaCabecera {
    min-width: 240px;
    text-align: center;
    padding: 15px;
    background-color: #58595e;
    border: 1px solid #0d0d0d;
}

.enfrentamientos {
    display: flex;
    flex-direction: row;
}

.partido {
    width: 200px;
    background-color: #58595e;
    border-radius: 5px;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ronda {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.separacion {
    border-top: 1px solid #0d0d0d;
}

.participante {
    padding: 5px;
}

.ronda64, .ronda16, .ronda4 {
    background-color: rgba(16, 16, 16);
}

.ronda32, .ronda8, .ronda2 {
    background-color: rgba(10, 10, 10);
}

.looser-bottom {
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #9e0303;
}

.looser-top {
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #9e0303;
}
.icons {
    float: right;
    font-size: 24px;
}
